body{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1366px;
    height: 650px;
}
.header{
    width: 1366px;
    height: 100px;
}
#logo{
    width: 200px;
    height: 100px;
    background-color: hotpink;
    float: left;
}
.menu{
    width: 1166px;
    height: 100px;
    background-color: black;
    float: left;
}
.menu ul{
    list-style-type: none;
    float: right;
    margin: 0px;
    padding: 0px;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 41px 20px;
}
.menu ul li a:hover{
    background-color: blue;
    transition: 1s;
}
.main{
    width: 1366px;
    height: 450px;

}
.leftside{
    width: 200px;
    height: 450px;
    background-color: gray;
    float: left;
}
.mainbody{
    width: 966px;
    height: 450px;
    background-color: white;
    float: left;
}
.rightside{
    width: 200px;
    height: 450px;
    background-color: gray;
    float: left;
}
.footer{
    width: 1366px;
    height: 100px;
    background-color: black;
}
.footer_con{
    color: white;
    text-align: center;
}